rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents { 
  	// match /{document=**} {
    //   allow read, write: if true;
    // }

    function getUser() {
      return get(/databases/$(database)/documents/highland/environments/production/personal/users/$(request.auth.uid)).data;
    }

    //// personal
    // customers
    // quests
    // user_vouchers
    // users
    match /highland/{environments}/{environment}/personal/customers/{userId} {
      allow read, write: if (request.auth.uid != null);
  	}
    
    match /highland/{environments}/{environment}/personal/customers/{userId}/cart/{itemId} {
      allow read, write: if (request.auth.uid != null);
  	}

    match /highland/{environments}/{environment}/personal/quests/{userId}/quests/{questId} {
      allow read: if request.auth != null;
      allow write: if false;
  	}

    match /highland/{environments}/{environment}/personal/user_vouchers/{userId}/vouchers/{voucherId} {
      allow read: if request.auth != null;
      allow write: if false;
  	}

    match /highland/{environments}/{environment}/personal/users/{userId} {
      allow create: if true;
      allow read: if (request.auth.uid != null);
      allow update: if (request.auth.uid != null);
      allow delete: if (request.auth.uid != null);
  	}
    
    match /highland/{environments}/{environment}/personal/quests/{customerId}/quests/{questId=**} {
      allow read: if (request.auth.uid != null);
      allow update: if (request.auth.uid != null);
  	}
    
    /// quest for signup
    match /highland/{environments}/{environment}/business/quest_programs_default/{questId=**} {
      allow read: if true;
  	}

    //// business
    match /highland/{environments}/{environment}/business/news/{newId} {
      allow read: if true;
      allow write: if false;
  	}

    match /highland/{environments}/{environment}/business/promotions/{promotionId} {
      allow read: if true;
      allow write: if false;
  	}

    //// setup
    match /highland/{environments}/{environment}/setup {
      allow read: if true;
      allow write: if false;
  	}

    //// system
    match /highland/{environments}/{environment}/system {
      allow read: if true;
      allow write: if false;
  	}

    // news
    // pos_order_lines
    // pos_orders
    // quest_programs
    // quest_rule_details
    // quest_rule_rewards
    // quest_rules
    // quests
    // shops
    // stores
    // voucher_programs
    // vouchers

    match /highland/{environments}/{environment}/business/pos_order_lines/{newId} {
      allow read: if request.auth != null;
      allow write: if false;
  	}

    match /highland/{environments}/{environment}/business/pos_orders/{newId} {
      allow read: if request.auth != null;
      allow write: if false;
  	}

    match /highland/{environments}/{environment}/business/quest_programs/{newId} {
      allow read: if request.auth != null;
      allow write: if false;
  	}
    match /highland/{environments}/{environment}/business/quest_rule_details/{newId} {
      allow read: if request.auth != null;
      allow write: if false;
  	}
    match /highland/{environments}/{environment}/business/quest_rule_rewards/{newId} {
      allow read: if request.auth != null;
      allow write: if false;
  	}
    match /highland/{environments}/{environment}/business/quest_rules/{newId} {
      allow read: if request.auth != null;
      allow write: if false;
  	}

    match /highland/{environments}/{environment}/business/quests/{newId} {
      allow read: if request.auth != null;
      allow write: if false;
  	}
    match /highland/{environments}/{environment}/business/shops/{newId} {
      allow read: if true;
      allow write: if false;
  	}
    match /highland/{environments}/{environment}/business/stores/{newId} {
      allow read: if true;
      allow write: if false;
  	}

    match /highland/{environments}/{environment}/business/voucher_programs/{newId} {
      allow read: if request.auth != null;
      allow write: if false;
  	}
    match /highland/{environments}/{environment}/business/vouchers/{newId} {
      allow read: if request.auth != null;
      allow write: if false;
  	}

    //// mx
    match /highland/{environments}/{environment}/mx/stores/{storeId} {
      allow read: if true;
      allow write: if request.auth != null;
  	}

    match /highland/{environments}/{environment}/mx/shops/{shopId} {
      allow read: if true;
      allow write: if request.auth != null;
  	}

    match /highland/{environments}/{environment}/mx/stores_menus/{menuId} {
      allow read: if true;
      allow write: if request.auth != null;
  	}

    match /highland/{environments}/{environment}/mx/suggest_products/{productId} {
      allow read: if true;
      allow write: if request.auth != null;
  	}

    match /highland/{environments}/{environment}/mx/carts/{userId} {
      allow read: if true;
      allow write: if request.auth != null;
  	}

    match /highland/{environments}/{environment}/mx/last_order/{userId} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid != null;
  	}

    match /highland/{environments}/{environment}/mx/orders/{orderId} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid != null;
  	}

    match /highland/{environments}/{environment}/mx/users/{userId}/orders/{orderId} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth != null;
  	}
    
    match /highland/{environments}/{environment}/mx/anonymous/{deviceId}/orders/{orderId=**} {
    	allow read: if true;
    }
    match /highland/{environments}/{environment}/mx/anonymous/{deviceId=**} {
      allow read: if true;
      allow write: if true;
  	}

    //// catalog
    // product_templates
    // products
    // public_categories

    match /highland/{environments}/{environment}/catalog/product_templates/{newId} {
      allow read: if true;
      allow write: if false;
  	}
    match /highland/{environments}/{environment}/catalog/product_template_attributes/{newId} {
      allow read: if true;
      allow write: if false;
  	}
    match /highland/{environments}/{environment}/catalog/product_template_attribute_values/{newId} {
      allow read: if true;
      allow write: if false;
  	}
    match /highland/{environments}/{environment}/catalog/products/{newId} {
      allow read: if true;
      allow write: if false;
  	}
    match /highland/{environments}/{environment}/catalog/product_attribute_values/{newId} {
      allow read: if true;
      allow write: if false;
  	}
    match /highland/{environments}/{environment}/catalog/public_categories/{newId} {
      allow read: if true;
      allow write: if false;
  	}
    
    /// configuration
    match /highland/{environments}/{environment}/configuration/{documentId=**} {
      allow read: if true;
  	}
    /// favorite
    match /highland/{environments}/{environment}/personal/favorite/{customer_id=**} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth != null;
  	}
    /// terms
    match /highland/{environments}/{environment}/business/terms/{termId} {
      allow read: if true;
  	}
    /// faqs
    match /highland/{environments}/{environment}/business/faqs/{itemId} {
      allow read: if true;
  	}
  }
}
